.LoginPage {
	background-color: #CF8F2E;
	width: 100%;
    width: 100vw;
    min-height: 100vh;
}

.LoginPageDiv{
	display: inline-block;
	padding: 100px;
	text-align: center;
	margin: 75px 16px;
	border: 1px solid black;
	background-color: #8B4513;
	color: white;
	width: auto;
}

.LoginPageInputBox {
    width: 500px !important;
    height: 50px !important;
    display: center !important;
    font-size: 20px;
    font-weight: bold;
}

.LoginPageLabel {
    font-size: 24px;
    font-weight: bold;
}

.LoginPageButton {
    background-color:#CF8F2E;
    color: white;
    font-size: 100px;
	cursor: pointer;
    width: 200px !important;
    height: 50px !important;
    font-size: 24px !important;
}